beautifulsoup4==4.8.2
nltk==3.4.5
numpy==1.18.1
pandas==1.0.1
regex==2020.4.4
requests==2.22.0
tensorboard==2.2.2
tensorboard-plugin-wit==1.7.0
tensorflow==2.2.0
tensorflow-estimator==2.2.0
tqdm==4.42.1
transformers==3.5.1
torch==1.5.0
